.btn-default {
  color: black;
  background: rgb(224, 184, 8);
  border-radius: 5px;
  font-weight: bold;
  padding: 15px 25px;
  transition: box-shadow 0.2s;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
  display: inline-block;
  margin-top: 50px;
}

.btn-default:hover{
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(0,0,0,0.3);
}

.btn-footer {
  color: #DCDDDB;
  background: rgb(224, 184, 8);
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 1px 2px;
  display: inline-block;
  margin: 6px 5px 6px 0px;
}

.btn-footer:hover {
  opacity: 0.7;
}
